@mixin flexbox ($direction, $justify, $align, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin media {
  @media screen and (min-width: 480px){
    right: -2rem;
  }
}