@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

// Colors
$purple-primary: hsl(259, 100%, 65%);
$light-red-primary: hsl(0, 100%, 67%);
$white-neutral: hsl(0, 0%, 100%);
$offwhite-neutral: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$offblack: hsl(0, 0%, 8%);

// Fonts
$input-font-size: 2rem;
$font-family: 'Poppins', sans-serif;
