@use './abstracts/variables' as v;
@use './abstracts/mixins' as m;

// CSS RESET
@use './abstracts/reset';


// Utility
.offscreen {
  position: absolute;
  left: -100000px;
}

// GENERAL

html {
  font-family: v.$font-family;
}

body{
  height: 100vh;
  background-color: v.$offwhite-neutral;
  @include m.flexbox(column, center, center);
}

// MAIN

main {
  margin: 0 auto;
  padding: 2.5em 1.5em;
  width: 85%;
  min-width: 320px;
  max-width: 500px;
  background-color: v.$white-neutral;
  border-radius: 30px 30px 100px 30px;
}

// SECTION 1
.main__form {
  @include m.flexbox(column, center, flex-start);
  max-width: 320px;
}

fieldset {
  position: relative;
  border: none;
  @include m.flexbox(row, space-evenly, flex-start, 1rem );
}

.main__input-container {
  width: 100%;
  @include m.flexbox(column, center, flex-start, 0.4rem);

  & label {
    font-size: calc(0.3* v.$input-font-size);
    letter-spacing: 0.15rem;
    color: v.$smokey-grey;
  }
}

.input {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8em;
  border: 0.05rem solid v.$light-grey;
  border-radius: 0.5rem;
  font-size: calc(0.5* v.$input-font-size);
  font-weight: map-get($map: v.$font-weight, $key:"extrabold" );
}

.input:focus {
  border-color: v.$purple-primary;
}

.input::placeholder {
  color: v.$smokey-grey;
}

::selection {
  background-color: v.$light-grey;
}

.js-day-input-label-add,
.js-month-input-label-add,
.js-year-input-label-add {
  color: v.$light-red-primary;
} 

.js-day-input-add,
.js-month-input-add,
.js-year-input-add {
  border-color: v.$light-red-primary;
}

.error {
  font-size: calc(0.2* v.$input-font-size);
  font-style: italic;
  color: v.$light-red-primary;
}



.main__button-container {
  position: relative;
  width: 97.5%;
  min-height: 6.5rem;
  @include m.flexbox(column, center, center);
  
}

hr {
  width: 100%;
  border: 0.1rem solid v.$light-grey ;
}


.button {
  position: absolute;
  padding: 1.35em;
  background-color: v.$purple-primary;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.15s;
  @include m.media;
}

.button:hover {
  opacity: 0.95;
}

.button:active {
  background-color: v.$offblack;
}

.button img {
  width: 25px;
  height: auto;
}

// SECTION 2
.main__output-section p {
  font-weight: map-get($map: v.$font-weight, $key: 'extrabold');
  font-size: clamp(calc(1.5 * v.$input-font-size), 10vw ,calc(2 * v.$input-font-size));
  font-style: italic;
  line-height: 1;
}

.main__output-section span {
  color: v.$purple-primary;
}
